<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- This is the ReporterAppender -->
    <appender name="TestNG" class="com.qainfotech.tap.boilerplates.wyp.TestNGReporterAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %c{1.} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="TestNG" />
    </root>
    <root level="debug">
        <appender-ref ref="TestNG" />
    </root>
</configuration>
